.azul {
  background-color: blue;
}

.rojo {
  background-color: red;
}

.gris {
  background-color: grey;
}

.negro {
  background-color: black;
}

.verde {
  background-color: green;
}

.naranja {
  background-color: orange;
}

.celeste {
  background-color: skyblue;
}

.blanco {
  background-color: white;
}

.azulSmall {
  background-color: blue;
}

.rojoSmall {
  background-color: red;
}

.grisSmall {
  background-color: grey;
}

.negroSmall {
  background-color: black;
}

.verdeSmall {
  background-color: green;
}

.naranjaSmall {
  background-color: orange;
}

.celesteSmall {
  background-color: skyblue;
}

.blancoSmall {
  background-color: white;
}
